
<div class="continer">
	<div class="row">
<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Booksers</h1>
<p>in <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</p>
<p>you can share and exchange your opinions,inperssions,and emotions<br>about various books!</p>

<%= link_to "log in",new_user_session_path, class: "btn btn-default" %>

<%= link_to "Sing Up", new_user_registration_path, class: "btn btn-success"  %>

</div>
</div>
