<h1 class="top_h1">welcome to Booksers</h1>
<p>in Bookers</p>
<p>you can share and exchange your opinions,inperssions,and emotions<br>about various books!</p>

<%= link_to "log in",new_user_session_path, class: "btn btn-default" %>

<%= link_to "Sing Up", new_user_registration_path, class: "btn btn-default" %>